@{
    Layout = "_AdminLayout";

    //page title
    ViewBag.Title = T("Plugins.Nop.Plugin.Misc.VendorEnhanced.Menu.GetAllVendorReview.Title").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("VendorEnhanced-Get-All-Vendor-Review-Menu");
}

@Html.AntiForgeryToken()

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Plugins.Nop.Plugin.Misc.VendorEnhanced.Menu.GetAllVendorReview.Title")
    </h1>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="vendor-reviews-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#vendor-reviews-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Url.RouteUrl("Plugin.Nop.Plugin.Misc.VendorEnhanced.VendorReview.List")",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "CustomerUsername",
                                        title: "@T("VendorEnhanced.Customer")"
                                    }, {
                                        field: "VendorName",
                                        title: "@T("VendorEnhanced.Vendor")"
                                    }, {
                                        field: "Title",
                                        title: "@T("Admin.Catalog.ProductReviews.Fields.Title")"
                                    }, {
                                        field: "ReviewText",
                                        title: "@T("Reviews.Fields.ReviewText")"
                                    }, {
                                        field: "ReplyText",
                                        title: "@T("Admin.Catalog.ProductReviews.Fields.ReplyText")"
                                    }, {
                                        field: "Rating",
                                        title: "@T("Reviews.Fields.Rating")"
                                    }, {
                                        field: "IsApproved",
                                        title: "@T("Admin.Catalog.ProductReviews.Fields.IsApproved")"
                                    }, {
                                        field: "CreatedOnUtc",
                                        title: "@T("Admin.Catalog.ProductReviews.Fields.CreatedOn")",
                                        template: "#= kendo.toString(kendo.parseDate(CreatedOnUtc), 'yyyy-MM-dd hh:mm tt') #"
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>